# Created by https://www.toptal.com/developers/gitignore/api/swiftpm,carthage,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm,carthage,cocoapods

### Carthage ###
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/

### SwiftPM ###
Packages
.build/
.swiftpm
xcuserdata
DerivedData/
*.xcodeproj

# End of https://www.toptal.com/developers/gitignore/api/swiftpm,carthage,cocoapods
